@import "./css-component/reset.css";
@import "./css-component/grid.css";

/* roboto-fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /* colors */
  --black-color: #000;
  --white-color: #fff;

  /* fonts */
  --roboto: "Roboto", sans-serif;
  --roboto-300: 300;
  --roboto-400: 400;
  --roboto-500: 500;
  --roboto-700: 700;
}

body {
  font-family: var(--roboto);
  background-color: var(--black-color);
}
