@import "../index.css";

.friend-request {
  border-radius: 5px;
  padding: 10px;
  background-color: var(--white);
}

.friend-request__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--black);
  padding: 10px;
}

.profile-info {
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding-bottom: 10px;
  margin-top: 13px;
}

.profile-info__avatar {
  border: 1px solid var(--black);
  border-radius: 50%;
  padding: 10px;
  width: 60px;
  height: 60px;
}

.profile-info__name {
  font-size: 1.3rem;
  font-weight: var(--roboto-700);
}

.friend-request__actions button {
  margin: 0 6px;
  border-radius: 5px;
  padding: 8px;
}

.friend-request__actions--accept {
  color: var(--white);
  border: 1px solid green;
  background-color: green;
}

.friend-request__actions--decline {
  color: var(--white);
  border: 1px solid red;
  background-color: red;
}
