@import "../index.css";

.header {
  padding: 15px;
  background-color: var(--white);
}

.header__logo {
  margin: 0 auto;
  border: 1px solid var(--black);
  padding: 10px;
  text-align: center;
  font-size: 1.3rem;
  text-transform: uppercase;
  width: 200px;
}

.header__form {
  margin: 0 auto;
  width: 500px;
}

.header__form .search-ip {
  border: 1px solid var(--black);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 15px;
  width: 350px;
}

.header__form .search-btn {
  border: 1px solid var(--black);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--black);
}

.btn-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-actions button {
  margin: 0 10px;
  cursor: pointer;
}

.btn-actions .theme-btn {
  position: relative;
  top: 2px;
  font-size: 1.1rem;
  border: 1px solid var(--white);
  background-color: var(--white);
}

.btn-actions .logout-btn {
  border: 1px solid var(--black);
  border-radius: 10px;
  padding: 15px;
  color: var(--white);
  background-color: var(--black);
}
