@import "../index.css";

.profile-card {
  padding: 12px;
  background-color: var(--white);
  border-radius: 10px;
  /* width: 330px; */
  position: relative;
}

.profile-info__location,
.profile-info__profession {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.other-information {
  margin-top: 15px;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  padding: 10px;
}

.other-information .viewer,
.other-information .joined {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
