@import "../index.css";

.profile-info {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-top: 13px;
}

.profile-info__avatar {
  border: 1px solid var(--black);
  border-radius: 50%;
  padding: 10px;
  width: 60px;
  height: 60px;
}

.profile-info__name {
  font-size: 1.3rem;
  font-weight: var(--roboto-700);
}

.edit-ic {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 1.7rem;
}
