@import "../../style.css";

.main {
  width: 100vw;
  height: 100vh;
  background-color: var(--gray);
}

.register {
  position: relative;
  top: 100px;
  margin: 0px auto;
  border: 2px solid var(--yellow);
  border-radius: 10px;
  padding: 20px;
  width: 800px;
  background-color: #fff;
}

.register__content {
  margin: 0 auto;
  width: 430px;
  text-align: center;
}

.register__content .title {
  color: var(--yellow);
  text-transform: uppercase;
}

.register__content .quotes {
  font-style: italic;
}

.register__form input {
  display: block;
  margin: 20px auto;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  width: 320px;
}

.register__form input:focus {
  border: 1px solid var(--yellow);
}

.register__buttons .register-btn {
  display: block;
  margin: 15px auto;
  border: 1px solid var(--yellow);
  border-radius: 5px;
  padding: 15px;
  width: 320px;
  color: #fff;
  text-transform: uppercase;
  font-weight: var(--roboto-700);
  background-color: var(--yellow);
  cursor: pointer;
}

.register__buttons .register-btn:hover {
  color: var(--yellow);
  background-color: #fff;
}
