@import "../index.css";

.header {
  border-bottom: 1px solid var(--yellow);
  padding: 15px;
}

.header__logo {
  border: 1px solid var(--yellow);
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  color: var(--yellow);
  text-align: center;
  font-size: 1.6rem;
}

.header__form {
  /* border: 1px solid red; */
}

.header__form .search-ip {
  margin: 0 auto;
  border: 1px solid var(--black);
  border-radius: 5px;
  padding: 13px;
  width: 450px;
}

.header__form .search-ip:focus {
  border: 1px solid var(--yellow);
}

.header__buttons {
  display: inline-block;
}

.header__buttons button {
  margin: 0 15px;
  border-radius: 5px;
  padding: 10px;
  width: 130px;
  cursor: pointer;
  font-size: 1.1rem;
}

.header__buttons .login-btn {
  border: 1px solid var(--white);
  background-color: var(--white);
}

.header__buttons .login-btn:hover {
  border: 1px solid var(--yellow);
  color: var(--yellow);
}

.header__buttons .register-btn {
  border: 1px solid var(--yellow);
  color: var(--white);
  background-color: var(--yellow);
}

.header__buttons .register-btn:hover {
  color: var(--yellow);
  background-color: var(--white);
}
