.user-profile {
  border: 2px solid var(--yellow);
  border-radius: 5px;
  padding: 10px;
  width: 330px;
}

.profile {
  display: flex;
  align-items: center;
  column-gap: 15px;
  border-bottom: 1px solid var(--yellow);
}

.profile .username {
  font-size: 1.3rem;
  font-weight: var(--roboto-500);
}

.profile .profession {
  font-size: 0.9rem;
}

.profile .edit-btn {
  position: relative;
  left: 60px;
  border: 1px solid var(--yellow);
  border-radius: 5px;
  padding: 5px;
  width: 60px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--yellow);
}

.profile .edit-btn:hover {
  background-color: var(--white);
  color: var(--yellow);
}
