@import "../index.css";

.wrapper {
  margin-bottom: 10px;
  border: 2px solid var(--yellow);
  border-radius: 5px;
  padding: 10px;
  width: 330px;
}

.request,
.suggest {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.request-list {
  margin-top: 20px;
}

.request-item,
.suggest-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin: 10px 0;
}

.request,
.suggest {
  border-bottom: 1px solid var(--yellow);
}

.request h1,
.suggest h1 {
  margin-bottom: 5px;
  font-size: 1.3rem;
}

.btn-actions button {
  margin: 0 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-actions .accept-btn {
  border: 1px solid var(--yellow);
  background-color: var(--yellow);
}

.btn-actions .accept-btn:hover {
  color: var(--yellow);
  background-color: var(--white);
}

.btn-actions .decline-btn {
  border: 1px solid red;
  background-color: red;
}

.btn-actions .decline-btn:hover {
  color: red;
  background-color: var(--white);
}

.btn-actions .add-btn {
  display: block;
  margin: 0 0px;
  width: 60px;
}
