.modal {
  margin: 150px auto;
  border: 2px solid var(--yellow);
  border-radius: 5px;
  padding: 20px;
  width: 600px;
  background-color: var(--white);
}

.modal input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
}

.modal h1 {
  margin-bottom: 10px;
  color: var(--yellow);
  text-align: center;
}

.modal .btn-actions button {
  display: block;
  margin: 5px auto;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  cursor: pointer;
  font-weight: var(--roboto-700);
}

.modal .btn-actions .update-btn {
  border: 1px solid var(--yellow);
  background-color: var(--yellow);
  color: var(--white);
}

.modal .btn-actions .update-btn:hover {
  background-color: var(--white);
  color: var(--yellow);
}

.modal .btn-actions .close-btn {
  border: 1px solid red;
  background-color: red;
  color: var(--white);
}

.modal .btn-actions .close-btn:hover {
  color: red;
  background-color: var(--white);
}

.custom-file-upload {
  display: block;
  margin: 10px auto;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  color: var(--white);
  background-color: var(--yellow);
}
