@import "../style.css";

.header {
  padding: 15px;
  border-bottom: 1px solid #000;
}

.header__logo {
  display: block;
  border: 1px solid var(--yellow);
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  font-size: 1.2rem;
  font-weight: var(--roboto-700);
  text-align: center;
  text-transform: uppercase;
  color: var(--yellow);
  cursor: pointer;
}

.header__form {
  position: relative;
  right: 100px;
}

.header__form .search-ip {
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding: 7px;
  width: 350px;
}

.header__form .search-ip:focus {
  border: 1px solid var(--yellow);
}

.header__form .search-ic {
  position: relative;
  right: 70px;
}

.header__button button {
  margin: 0 10px;
  border-radius: 5px;
  padding: 7px;
  width: 100px;
  cursor: pointer;
}

.header__button .login-btn {
  border: none;
  background-color: #fff;
}

.header__button .login-btn:hover {
  border: 1px solid var(--yellow);
  color: var(--yellow);
}

.header__button .register-btn {
  border: 1px solid var(--yellow);
  width: 130px;
  background-color: #fff;
  color: var(--yellow);
}

.header__button .register-btn:hover {
  font-weight: var(--roboto-500);
  background-color: var(--yellow);
  color: #fff;
}
