@import "../style.css";

.aside {
  /* border: 2px solid var(--yellow); */
  border-radius: 5px;
  padding: 7px;
  width: 240px;
}

.aside__navbar li {
  display: flex;
  align-items: center;
  column-gap: 7px;
  margin: 15px 0;
  padding: 10px;
  font-size: 1.3rem;
  font-weight: var(--roboto-300);
}

.aside__navbar li:hover {
  border-radius: 5px;
  background-color: var(--yellow);
  color: #fff;
}

.aside__navbar li:hover > a {
  color: #fff;
}

.aside__navbar li .item-ic {
  width: 30px;
}
