@import "../style.css";

/* header */
.header {
  padding: 10px;
  border-bottom: 1px solid #000;
}

.header__logo {
  font-weight: var(--roboto-700);
  color: var(--orage-color);
}

.header__form .search-form {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
}

.MuiGrid-container {
  max-width: 1200px;
  margin: 0 auto;
}
