@import "../base/typography.css";

:root {
  /* fonts */
  --roboto: "Roboto", sans-serif;
  --roboto-300: 300;
  --roboto-400: 400;
  --roboto-500: 500;
  --roboto-700: 700;
  --roboto-900: 900;

  /* colors */
  --yellow: #ffc300;
  --white: #fff;
  --black: #000;
  --gray: #d0d3d4;
}
