@import "../base/typography.css";

:root {
  /* fonts */
  --roboto: "Roboto", sans-serif;
  --roboto-100: 100;
  --roboto-300: 300;
  --roboto-400: 400;
  --roboto-500: 500;
  --roboto-700: 700;
  --roboto-900: 900;

  /* colors */
  --yellow: #ffd700;
  --gray: #f5f5f5;
}
